// /* posts Component's private CSS styles */
.posts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    // width: 15em;
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
  }
//   .posts li {
//     position: relative;
//     cursor: pointer;
//     background-color: #EEE;
//     margin: .5em;
//     padding: .3em 0;
//     height: 1.6em;
//     border-radius: 4px;
//   }
  
//   .posts li:hover {
//     color: #607D8B;
//     background-color: #DDD;
//     left: .1em;
//   }
  
//   .posts a {
//     color: #888;
//     text-decoration: none;
//     position: relative;
//     display: block;
//     width: 250px;
//   }
  
//   .posts a:hover {
//     color:#607D8B;
//   }
  
//   .posts .badge {
//     display: inline-block;
//     font-size: small;
//     color: white;
//     padding: 0.8em 0.7em 0 0.7em;
//     background-color: #607D8B;
//     line-height: 1em;
//     position: relative;
//     left: -1px;
//     top: -4px;
//     height: 1.8em;
//     min-width: 16px;
//     text-align: right;
//     margin-right: .8em;
//     border-radius: 4px 0 0 4px;
//   }

  .image-window {
    cursor: pointer;
    height: 12em;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    // border-radius: 10px;
    transition: height 0.3s ease-in-out;
  }
  
  .image-window img {
    position: relative;
    top: 50%;
    // transform: translateY(-50%);
    transform: translateY(-25%);

  }



  .example-card {
    // max-width: 400px;
    // width: 100%;
    margin: 0 0 2em 0;
    list-style-type: none;
    // padding: 0;
    // width: 15em;
    // margin-left: 2em;
    // margin-right: 2em;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card {
    margin: 1em !important;
  }